* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: black;
	color: white;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	height: 100vh;
	width: 100%;
	transition: 0.3s ease-in-out;
}

.h2 {
	font-size: 3rem;
	padding: 4rem;
}

.container,
.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	flex-direction: column;
}

.input-container p {
	font-size: 1.5rem;
}

.input-container input,
input::placeholder {
	background: transparent;
	color: whitesmoke;
	margin: 0 1rem;
	/* width: 5rem; */
	border-bottom: 1px solid white;
	padding: 1rem 0 0.5rem;
}

button {
	margin: 4rem 0;
	padding: 1rem 6rem;
	border-radius: 24rem;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	font-size: 1.2rem;
}

button:hover {
	background: #124561;
	color: white;
}

.d-none {
	display: none;
	margin: 1rem;
}

.err {
	color: red;
}

.warning {
	color: orange;
}

.num-container {
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	text-align: center;
	margin: 3rem 0 0;
}

.highlight {
	color: #47008a;
}
